.purchase-button {
		float: right;
}

table, th, td {
		border: 1px solid black;
		padding: 4px;
}

div {
		padding: 5px;
}

p {
		padding: 5px;
}

.admin-button {
		float: right;
		margin: 2px;
}

main {
		margin: 10px;
}

header {
		margin: 3px;
}

a:hover {
		text-decoration: none;
		text-weight: bold;
}
